
li {
  margin: 0px auto;
  font-size: 20px;
  font-family: 'Amethysta', serif;
}

h2 {
  text-align: center;
  color: brown;
  font-weight: bold;
  font-family: 'Amethysta', serif;
}

div {
  margin-left: 200px;
  margin-right: 200px;
}

th {
  background-color: green;
  color: white;
}

tr > td {
  background-color: green;
  color: white;
}

td {
  background-color: white;
  color: black;
  text-align: center;
}

th {
  width: 80px;
  height: 60px;
}
