 body {
  background-color: #B26726;
  font-family: 'Amethysta', serif;
}

#locationList {
  width: 220px;
}

#mid {
  display: inline;
}

li {
  font-size: 20px;
  font-family: 'Amethysta', serif;
  width: 200px;
  padding-bottom: 50px;


}
ul {

  margin: 50px auto;
  position: absolute;
}

h1 {
  text-align: center;
  color: #8AFF00;
  font-weight: bold;
  font-family: 'Amethysta', serif;
  margin: 0px auto;
}

th {
  background-color: #FF5D3A;
  color:    black;
}

tr td {
  background-color: #B2B22E;
  color: black;
}

td {
  background-color: white;
  color: black;
  text-align: center;
}

th {
  width: 80px;
  height: 60px;
}

fieldset {
  max-width: 1000px;
  border-radius: 50px;
  border: 7px solid #8AFF00;
  text-align: center;
  padding: 30px;
  margin: 0px auto;
}

legend {
  font-weight: bolder;
  font-size: 20px;
}

table {
  margin: 0px auto;
}

label {
  font-size: 16px;
}
img {
  width: 200px;
  height: 200px;
  position: relative;

}

#images {
  float: right;
  width: 220px;
  height: 800px;
}
