 body {
  background-color: #714324;
  font-family: 'Amethysta', serif;
  color: #979175;
}
  #locationList {
  display: inline;
  width: 300px;
}

#mid {
  display: flex;
  margin: 20px;
}

li {
  font-size: 20px;
  font-family: 'Amethysta', serif;
  width: 200px;
  padding-bottom: 50px;
}

ul {
  background-image: url('assets/campsite-tent-night.jpg');
  margin: 0px auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Amethysta', serif;
  margin: 0px auto;
  margin-top: 30px;
}

th {
  background-color: #414824;
  color: black;
  font-size: 18px;
}

tr td {
  background-color: #979175;
  color: black;
}

td {
  text-align: center;
  padding: 5px;
}

th {
  width: 80px;
  height: 60px;
}

fieldset {
  max-width: 950px;
  border-radius: 50px;
  border: 7px solid #414824;
  padding: 30px;
  margin: 0px auto;
  font-size: 30px;
}

legend {
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
button {
  margin-top: 20px;
  font-size: 20px;

}

label {
  font-size: 20px;
}

table {
  margin: 0px auto;
}
img {
  width: 300px;
  height: 300px;
  margin: 30px;
}
